.flex-container {
  display: flex;
    
    justify-content: flex-start;
    flex-direction: row; 
    flex-wrap: wrap; 
    background-color: #bbdefb;
    height: 100%;
    padding: 15px;
    gap: 5px;
}

.flex-container > div{
  background: #ffecb3;
  border: 3px solid #ffcc80;
  border-radius: 5px;
  padding: 8px;
}

.Filters-container { 
  order:0;
  flex-grow:0;
  flex-shrink:1;
  width: 20%;
}
.Items-container { 
    
  order:1;
  flex-grow:1;
  flex-shrink:1;
  width: 60%;
  flex-wrap: wrap; 
}
.Items{
  display:block;
  justify-content: center; 
  align-items: center;  
  flex-direction: row; 
  flex-wrap: wrap; 
  align-content: flex-start;

  background-color: #bbdefb;
  height: 100%;
  padding: 15px;
  gap: 5px;
}
.flex-container > div{
  background: #ffecb3;
  border: 3px solid #ffcc80;
  border-radius: 5px;
  padding: 8px;
}
