
 .App {
  width: 100vw; /* 50% del ancho de la ventana */
 height: 435vh; /* 50% de la altura de la ventana */

  background-color: rgb(110, 47, 47);
  overflow: hidden;
} 
.container {
  display: flex;
  flex-direction: column; /* Para apilar los divs verticalmente */
  align-items: center;
  margin: 0;
  background-color: #9b8e8e;
  height: 3000px;
  position: relative;
}
.carousel {
  width: 620px;
  height: 900px;
  background-color: #9b8e8e; /* Color del carrusel */
  margin: 100px; /* Espacio debajo del carrusel */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 8px; /* Bordes redondeados */
}
.content {
  display: flex;
  width: 100%; /* Ancho del contenedor de productos y filtro */
  overflow: hidden;
  margin: 0px 0px;
  height: 1000px;
  max-width: 1200px

}

@media screen and (max-width: 700px){
  .content{
    display: inline-block;
}
}
.filter {
  width: 200px; /* Ancho del filtro */
  height: 500px;
  background-color: #2196f3; /* Color del filtro */
  color: white;
  border-radius: 10px; /* Bordes redondeados */
  margin: 10px 0px; /* Espacio interno */
  overflow: hidden;
  
}
.products {
  background-color: #4caf50;
  height: auto;
  margin: 10px; 
  gap: 15px;
  overflow:hidden;
}
.footer {
  width: 100%; /* Ancho del footer */
  background-color: #333; /* Color del footer */
  color: white;
  height: 300px;
  text-align: center;
  padding: 50px; /* Espacio interno */
  margin-top: 10px; /* Para que esté al final */
}
