.App{
  height: 1000px;
  width: 100vw;
  background-color: grey;
  overflow: auto;
}

.container {
  display: flex;
  gap: 15px;
  background-color: aqua;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: baseline;
  flex-grow: 1;
}
  
.cajas {
  background-color: green;
  width: 150px;
  height: 150px;
  border: 5px solid black;
  color: aliceblue;
}
.carousel{
  flex-basis: 200px;
  background-color: black;
}
.productos{
  flex-basis: 300px;
  background-color: blue;
}
